.error-text {
    color: #d32f2f; /* This is Material Design's red 700, but you can use any color */
  }
  /* Header styling */


  .mat-mdc-header-row {
    background-color: #424242; /* Darker grey for the header */
    color: white;
  }
  .mat-mdc-row:nth-child(even) {
    background-color: #f1f1f1; /* Set the background color for even rows */
  }
  
  .mat-mdc-row:nth-child(odd) {
    background-color: #ffffff; /* Set the background color for odd rows */
  }
  
  /* Basic resizable columns */
  th.mat-header-cell {
    resize: horizontal;
    overflow: auto;
  }
  